<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Show Recipe</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"
          th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}">

    <script src="/webjars/jquery/1.11.1/jquery.min.js"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous" th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>
</head>
<body>
<div class="container-fluid" style="margin-top: 20px">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="pannel-group">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <!--/*@thymesVar id="recipe" type="guru.springframework.model.Recipe"*/-->
                        <h1 class="panel-title" th:text="${recipe.description}">Recipe Description Here!</h1>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-3">
                                <h5>Categories:</h5>
                            </div>
                            <div class="col-md-9">
                                <ul>
                                    <li>cat one</li>
                                    <li>cat two</li>
                                    <li>cat three</li>
                                </ul>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <h5>Prep Time:</h5>
                            </div>
                            <div class="col-md-3">
                                <p>30 min</p>
                            </div>
                            <div class="col-md-3">
                                <h5>Difficulty:</h5>
                            </div>
                            <div class="col-md-3">
                                <p>Easy</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <h5>Cooktime:</h5>
                            </div>
                            <div class="col-md-3">
                                <p>30 min</p>
                            </div>
                            <div class="col-md-3">
                                <h5>Servings:</h5>
                            </div>
                            <div class="col-md-3">
                                <p>4</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <h5>Source:</h5>
                            </div>
                            <div class="col-md-3">
                                <p>30 min</p>
                            </div>
                            <div class="col-md-3">
                                <h5>URL:</h5>
                            </div>
                            <div class="col-md-3">
                                <p>http://www.example.com</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h1 class="panel-title">Ingredients</h1>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12">
                                <ul>
                                    <li>1 Cup of milk</li>
                                    <li>1 Teaspoon of chocolate</li>
                                    <li>1 Teaspoon of Sugar</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h1 class="panel-title">Directions</h1>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam ducimus earum et
                                    hic magnam possimus quas unde. Atque consectetur consequatur cupiditate, distinctio
                                    dolore doloremque dolores eligendi ex fuga in ipsum laboriosam molestiae
                                    necessitatibus numquam officiis, pariatur perferendis praesentium rerum sapiente
                                    tempore totam, unde voluptates! Adipisci asperiores atque aut culpa dignissimos id
                                    illum inventore labore, minima natus obcaecati odit quasi quo recusandae rem saepe
                                    sint sit tenetur voluptatem voluptatum? Aliquid amet architecto deleniti deserunt
                                    doloribus enim expedita impedit ipsam minus nihil nobis odio quod, saepe unde vero!
                                    Accusantium earum harum id, impedit maiores obcaecati omnis perspiciatis rem
                                    voluptatem voluptates! Architecto atque aut autem delectus deserunt dolore
                                    doloremque ducimus ea eos excepturi exercitationem fuga hic id, in incidunt ipsum
                                    maxime necessitatibus nesciunt obcaecati officia optio possimus praesentium,
                                    provident quaerat qui quidem quisquam, soluta? Enim error expedita incidunt iste
                                    obcaecati odio quae sint?</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h1 class="panel-title">Notes</h1>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto commodi dolor
                                    doloribus esse excepturi in iure libero magni maiores minima minus nesciunt non
                                    numquam pariatur possimus recusandae reiciendis sunt ut voluptas, voluptate? Alias
                                    aliquam at aut cupiditate debitis delectus eius esse et eveniet, fugiat id illo ipsa
                                    iste labore maiores minima minus nemo odit provident quas quidem quis ratione rem
                                    reprehenderit sed sequi similique suscipit unde vel, vitae! Ab autem culpa impedit
                                    iste laboriosam quasi quia quibusdam, sed voluptatum! Consequuntur deserunt ducimus
                                    exercitationem maxime minima molestiae odio repellendus. Accusantium ad aliquam
                                    asperiores, beatae blanditiis consectetur corporis cupiditate debitis distinctio
                                    doloribus dolorum ducimus eaque eius ex excepturi exercitationem expedita facilis
                                    fugiat fugit incidunt ipsum iure maiores minus mollitia nemo obcaecati perferendis
                                    quasi quod reiciendis repellat sit, suscipit tempora tempore velit veniam vero
                                    voluptatem. Accusantium alias, impedit inventore magni minus neque veritatis vitae!
                                    Ab aut dignissimos fuga fugiat maiores, vel velit voluptates?</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>